*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --hue-nuetral: ;
}

body {
  --hue: var(--hue-nuetral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
